body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: left;
}

header .logo {
    max-height: 50px;
}

section {
    padding: 2rem 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
   [_{{{CITATION{{{_1{](https://github.com/dhwaniserai/Supermarket-System/tree/96eb637dd474d6fc6d6ec0c28f13dae0b55e369a/wdl%2Fhome2.php)[_{{{CITATION{{{_2{](https://github.com/Shraddhatripathi23/Matrimonia_website/tree/944799237db7dcf729e8170e3680e715b1a04401/index.php)[_{{{CITATION{{{_3{](https://github.com/nimishbhandari/snowden-lite/tree/02b703426600fff2b9fa15d653a22ecdc9e3e64f/levels%2Ftheme_g%2Fg1.php)[_{{{CITATION{{{_4{](https://github.com/rkustas/techarticles/tree/598d65a5c026d9ecd3c7f0258f4a44f93e7029d0/client%2Fpages%2F_document.js)[_{{{CITATION{{{_5{](https://github.com/tysonshazam/project/tree/94324036247d795c12c651e63228924b203c2c4f/resources%2Fviews%2Faddbussiness.blade.php)[_{{{CITATION{{{_6{](https://github.com/JIbraeelMehmood/Blog-dynamicPage-Web/tree/03212259b8e0093b29fa023694fb31071156ebe9/resources%2Fviews%2Fpages%2Fadmin-pageSection.blade.php)[_{{{CITATION{{{_7{](https://github.com/SangramjitHazarika/BankWebsite/tree/405eaeb1160166c731b4d4d0b6f4121cd0474da2/sparks%20foundation%20bank%2FAbout.php)[_{{{CITATION{{{_8{](https://github.com/nurulamin8392/phpcrud/tree/9e1617d7f8c123ebc8d6aa329b27424429b942c5/edit.php)